html {
	height: 100%;
	margin: 0em auto;
	padding: 0em;
	max-width: 80em;
	background-color: #F0F0F0;
	overflow-y: scroll;
	font-family: sans-serif;
	color: #000000;
}

body {
	box-sizing: border-box;
	min-height: 100%;
	margin: 0em;
	padding: 0em;
	display: flex;
	flex-direction: column;
}

header {
	flex-grow: 0;
	flex-shrink: 0;
	background-color: #404040;
}

h1 {
	margin: 0em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	text-align: center;
	font-weight: bold;
	color: #D0D0D0;
}

article {
	flex-grow: 1;
	flex-shrink: 1;
	padding: 1.0em 2.0em;
	border-left: 0.3em solid #F8F8F8;
	border-right: 0.3em solid #F8F8F8;
	background-color: #FFFFFF;
	background-image: url("wallpaper.png");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 60% auto;
}

h2 {
	margin-top: 2.0em;
	margin-bottom: 0.3em;
}

input[type=button], input[type=file] {
	font-family: inherit;
	font-size: inherit;
}

input[type=button] {
	padding: 0.2em 1.0em;
}

select {
	padding: 0.2em 1.0em;
}

p {
	margin-top: 1.0em;
	margin-bottom: 0.5em;
}

table {
	border: 1px solid #D0D0D0;
	border-collapse: collapse;
}

#power-distribution td {
	padding: 0.4em 0.8em;
	border: 1px solid #D0D0D0;
}

#power-distribution td:nth-child(2) {
	text-align: right;
}

#numbers {
	font-size: 80%;
}

#numbers th, #numbers td {
	padding: 0em 0.8em;
}

#numbers thead th {
	border-bottom: 1px solid #D0D0D0;
}

#numbers tfoot th {
	border-top: 1px solid #D0D0D0;
}

#numbers td {
	text-align: right;
}

hr {
	margin: 1.0em 0em 1.0em;
	border: none;
	border-bottom: 1px solid #E0E0E0;
}
